/* Global Styles */

html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  /* Header Styles */
  
  .header-text {
    flex: 1;
  }
  
  .title {
    color: rgb(0, 0, 0);
  }
  
  /* About Section Styles */
  
  .about-section {
    display: flex;
    padding: 3%;
    text-align: center;
  }
  
  .text-container {
    flex: 1;
    font-size: large;
    margin: 0 5%;
  }
  
  .text-container p {
    margin-top: 2rem;
  }
  
  .row-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .row-container .AUText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  
  .column {
    width: 25%;
    padding: 0 0.5rem;
    display: inline-block; 
    vertical-align: top; 
  }
  
  /* Card Styles */
  
  .card {
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.5);
    padding: 2%;
    height: 100%;
  }
  
  /* Team Container Styles */
  
  .team-container {
    padding: 0 0.75rem;
    font-size: smaller;
    text-align: center; /* Center the content within the card */
  }
  
  .Team {
    padding-top: 10%;
  }
  
  .Team h2 {
    text-align: center;
    margin: 0; /* Reset default margin to remove any extra spacing */
  }
  
  /* Row Container Styles */
  
  .row {
    display: flex;
    justify-content: center;
    padding-top: 5%
  }
  
  .column {
    width: 25%; /* Set to 50% to allow two cards side by side */
  }
  
  .team-container p:nth-child(3) {
    line-height: 2.5ex;
    height: 7.5ex;
  }
  
  .team-container h3 {
    font-size: small;
  }
  
  /* Image Container Styles */
  
  .image-container {
    display: flex;
    justify-content: center;
    flex: 1;
  }
  
  .image-container img {
    width: 18em;
    height: 18em;
  }
  
  /* Button Styles */
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2.5%;
    color: white;
    background-color: #000000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color:#F5F5DC;
    color: #000000;
  }
  
  /* Navbar Styles */
  
  .navbar {
    background-color: transparent;
    padding: 15px 0;
    border-bottom: 1px solid black;
  }
  
  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-list li {
    margin-right: 20px;
  }
  
  .navbar-list li:last-child {
    margin-right: 0;
  }
  
  .navbar-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    display: block;
    padding: 10px;
    border: 3px solid black;
    background-color: black;
    border-radius: 40px;
  }
  
  .navbar-list a:hover {
    color: gray;
  }
  
  @media (max-width: 650px) {
    .row-container .AUText {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
      display: block;
    }
  
    .card {
      max-width: fit-content;
    }
  }