
  .about-section {
    display: flex;
    margin-top: 3%;
    text-align: center;
    justify-content: center;
  }
  
  .text-container {
    flex: 1;
    font-size: large;
    margin: 0 5%;
  }
  
  .text-container p {
    margin-top: 2rem;
  }
  
  .row-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
  }
  
  .row-container .AUText {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
  }
  
  .column {
    width: 20%;
    padding: 0 0.5rem;
    display: flex; 
    vertical-align: top;
  }

  .image-container img {
    width: 27em;
    height: 25em;
    border: 3px solid black;
  }

  .Team {
    margin-top: 5%;
  }

  .card {
    border: 3px solid black;
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
  }

  .card img {
    transform: scale(.75);
  }

  .row {
    display: flex;
    justify-content: center;
  }
  
  @media (max-width: 1100px) {
    .row-container .AUText {
      flex-direction: column;
    }
  }