.content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}

.instructions-container {
  border: 2px solid black;
  margin: 0 10%;
  padding: 0.67em;
  margin-bottom: 1.34em;
  width: 50%;
  font-size: 1rem;
}

.created-tests {
  border: 2px solid black;
  margin: 0 10%;
  padding: 0.67em;
  margin-top: 1.34em;
  margin-bottom: 1.34em;
  width: 25%;
  font-size: 1rem;
}

#test-form {
  font-weight: bold;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#test-name,
#file-upload,
#week-number {
  font-size: 1.25rem;
}

label {
  font-weight: bold;
  font-size: 1.25rem;
  margin-right: 0.5rem;
}

input[type="file"]::file-selector-button {
  display: none;
}

#file-upload::before,
button[type="submit"] {
  margin-top: 1.25rem;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
  padding: 10px;
  border: 3px solid black;
  background-color: black;
  border-radius: 40px;
  display: flex;
  cursor: pointer;
}

.test-factors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#difficulty {
  margin-top: 1.25rem;
}

.file-upload {
  margin-top: 1.25rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.25rem;
}
