.admin-home {
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.instructions-resultsContainer {
  border: solid 2px black;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  padding: 0 0.67em;
  padding-bottom: 0.67em;
  margin-bottom: 0.67em;
}

  .image-container {
  text-align: center; /* Center the images horizontally within the container */
}

  .student-image {
  display: inline; /* Display images inline (horizontally) */
  margin: 10px; /* Add some space between the images */
}

  /* adminHome.css */


#res {
  max-width: calc(100vw - 4%);
}

#dropbtn.empty {
  background-color: #666;
  color: black;
  cursor: not-allowed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-content {
  display: none;
  background-color: #000000;
  color:white
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {
  background-color: #6495ED;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.score-container {
  margin-top: 1.34em;
  margin-bottom: 1.34em;
  font-weight: bold;
}

.user-score-container {
  margin-bottom: 0.5em;
}

#feedback-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.34em;
}

#feedback-input, #search-bar {
  padding: 10px;
  margin-bottom: 10px;
  resize: vertical; /* Allow vertical resizing of the textarea */
  font-family: inherit;
}

.analytics h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.analytics-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 1.34em;
}

#submit-feedback, #search-button, #plot-graph, #dropbtn {
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

#plot-graph {
  margin-top: 1.34em;
  display: flex;
  margin: auto;
  margin-top: 1.34em;

}

#student-picture{
  background-color: #cccccc;
}

.audio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-container {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 0.67em;
}

  .inner-task-container {
    display: flex;
    flex-direction: row;
  }

  .file-container {
    padding: 0.67em;
  }

    .file-container label {
      font-weight: bold;
    }

    .file-container .audio-container {
      padding: 0.67em;
    }

    @media (max-width: 1300px) {
      .inner-task-container {
        display: flex;
        flex-direction: column;
      }
    
    }