{% extends "base.html" %}

{% block content %}
<div class="about-section">
		<div class="header-text">
			<h1>Italiano In Pratica</h1>
			<h2>How To Use The Site</h2>
		</div>
	</div>

	<div class="row-container">
		<div class="AUText">
			<div class="text-container">
				<h2 style="text-align:left">Welcome to Italiano In Pratica</h2>
				<p>Italiano In Pratica is a web application designed for students studying Italian at UWA. The application is designed to help students practice and improve their Italian pronunciation and fluency.</p>
				<p>Students will be able to access a range of tests where they will listen to authentic Italian audio and record themselves repeating the provided audio. They will then select one of their recordings and provide a score from 1-10 on how close they think it is to the original.</p>
				<p>Our web application features an audio similarity function that will generate a score based on the similarity between the student's recording and the provided audio. These two scores and the audio files will be stored and sent to the teaching team to review.</p>
				<p>One reviewed, students will be able to access their results and feedback through the grades page.</p>
				<p>On the administrative side, the teaching team can create new tests, review student submissions and provide feedback.</p>
			</div>
			<div class="image-container">
				<img src=".{{ url_for('static',filename = 'Images/Intro.png') }}" alt="HomePage">
			</div>
		</div>
		
		<div class="AUText">
			<div class="image-container">
				<img src="{{ url_for('static',filename = 'Images/Testing.png') }}" alt="AudioTests">
			</div>
			<div class="text-container">
				<h2 style="text-align:left">How Does It Work?</h2>
				<p>Upon logging in, students can access tests assigned by the teaching team.</p>
				<p>After selecting a test, students will be taken to the test page. Each test will contain four to six questions where they will listen to an Italian phrase or sentence and repeat as close as possible to the original audio.</p>
				<p>Students have three attempts to record the phrase. After recording, they can review their recordings and choose one for grading.</p>
				<p>Then, students will evaluate their performance and submit a score. After completing all tests and self-assessment, students will submit their audio file and results. Our audio similarity function will generate a score based on the similarity between the recording and the provided audio.</p>
				<p>Once reviewed, students can access their results and feedback through the grades page</p>
			</div>
			
		</div>

		<div class="AUText">
			<div class="text-container">
				<h2 style="text-align:left">Teaching Team Support</h2>
				<p>The teaching team will be able to access student results, create new tests and upload audio files. These tasks will be accessible from the 'Admin' section of the log-in page. Only UWA staff or members of the teaching team will have access to the admin side of the application.</p>
				<p>For any support, questions or queries, please contact the CITS3200 project team. or Dr. Marinella Caruso.</p>
			</div>
			<div class="image-container">
				<img src="../static/images/uwa-logo.svg" alt="UWALogo">
			</div>
		</div>
	</div>

	<div class="Team">
		<h2 style="text-align:center">Teaching Team</h2>
		<div class="row">
			<div class="column">
				<div class="card">
					<img src="{{ url_for('static',filename = 'Images/Caruso.png') }}" alt="Dr.Marinella Caruso" style="width:100%">
					<div class="team-container">
						<h3>Dr.Marinella Caruso</h3>
						<p class="title">Senior Lecturer</p>
						<p>School of Humanities, Discipline of European Languages and Cultures</p>
						<p>marinella.caruso@uwa.edu.au</p>
						<p><button class="button">Contact</button></p>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card">
					<img src="../static/images/Generic-Profile-Image.png" alt="Team" style="width:100%">
					<div class="team-container">
						<h3>Project Team</h3>
						<p class="title">CITS 3200 Students</p>
						<p>Project team from CITS 3200. For support contact below.</p>
						<p>21386988@student.uwa.edu.au</p>
						<p><button class="button">Contact</button></p>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}