{% extends "base.html" %}

{% block content %}
<div class="about-section">
		<div class="header-text">
			<h1>Italiano In Pratica</h1>
			<h2>How To Use The Site</h2>
		</div>
	</div>

	<div class="row-container">
		<div class="AUText">
			<div class="text-container">
				<h2 style="text-align:left">Welcome to Italiano In Pratica</h2>
				<p>Italiano In Pratica is a web application designed for students studying Italian at UWA. The application is designed to help students practice and improve their Italian pronunciation and fluency.</p>
				<p>Students will be able to access a range of tests where they will listen to authentic Italian audio and record themselves repeating the provided audio. They will then select one of their recordings and provide a self-evaluation score on a scale of 1-100 on how close they think their pronunciation and fluency are to the original.</p>
				<p>Our web application features an audio similarity function that generates a score based on the similarity between the student's recording and the original audio. The self-evaluation and computer-generated similarity scores will be saved to be referenced by the admin team.</p>
			</div>
			<div class="image-container">
				<img src=".{{ url_for('static',filename = 'images/Intro.png') }}" alt="HomePage">
			</div>
		</div>
		
		<div class="AUText">
			<div class="image-container">
				<img src="{{ url_for('static',filename = 'images/Testing.png') }}" alt="AudioTests">
			</div>
			<div class="text-container">
				<h2 style="text-align:left">Audio Similarity Function: How Does It Work?</h2>
				<p>This tool makes use of 4 different factors when it comes to assessing the submitted audio.</p>
				<p>The first factor is audio-to-text conversion. This factor compares the audio-to-text conversion of the submitted audio against the original clip to assess whether students are saying the exact words. Higher scores are awarded for closer audio-to-text conversions.</p>
				<p>The second factor is duration. This factor compares the duration of the submitted audio from when it first detects speech to the last time it detects speech. Higher scores are awarded for closer durations.</p>
				<p>The third factor is the vowel-to-consonant ratio. This factor will compare the ratio of vowels and consonants spoken against that of the original audio clip to assess the enunciation of the Italian phrases. Higher scores are awarded for closer ratios.</p>
				<p>The fourth factor compares against the international phonetic alphabet (IPA). The IPA output of the submitted audio clip will be compared against the original clip to assess the enunciation of the Italian phrases. Higher scores are awarded for closer IPA comparison results.</p>
			</div>
			
		</div>

		<div class="AUText">
			<div class="text-container">
				<h2 style="text-align:left">Access and Teaching Team Support</h2>
				<p>The teaching team can create new tests, access student results and view cohort analytics. Only UWA staff or teaching team members will have access to the admin side of the application.</p>
				<p>Students must register their account by providing their student number and a password. After verifying their account, students can take tests and view their results.</p>
				<p>For any support questions or queries, please contact Dr. Marinella Caruso.</p>
			</div>
			<div class="image-container">
				<img src="../static/images/uwa-logo.svg" alt="UWALogo">
			</div>
		</div>
	</div>

	<div class="Team">
		<h2 style="text-align:center">Teaching Team</h2>
		<div class="row">
			<div class="column">
				<div class="card">
					<img src="{{ url_for('static',filename = 'Images/Caruso.png') }}" alt="Dr.Marinella Caruso" style="width:100%">
					<div class="team-container">
						<h3>Dr.Marinella Caruso</h3>
						<p class="title">Senior Lecturer</p>
						<p>School of Humanities, Discipline of European Languages and Cultures</p>
						<p>marinella.caruso@uwa.edu.au</p>
					</div>
				</div>
			</div>

{% endblock %}