{% extends "base.html" %}

{% block content %}

<div class="admin-home">
  <h1>Welcome Admin Team</h1>
  <h2>Please review instructions below to view student scores.</h2>
</div>
<details class="instructions-resultsContainer" open>
  <summary class="instructions-header"><h1>Instructions</h1></summary>
  <div class="instructions-content">
    <p>This page allows admin users to view student scores and provide feedback on their weekly tests.</p>

    <h3>Step One</h3>
    <p>Enter the student ID into the search bar and select "Search" or hit Enter.</p>
    <h3>Step Two</h3>
    <p>After searching for a student, use the "Week Recording" dropdown to select a test to view.</p>
    <h3>Step Three</h3>
    <p>Review the student's scores and provide feedback in the text box below.</p>
    
  </div>
</details>

  <div class="content">
    <h1>Student Search</h1>
        <input type="text" id="search-bar" placeholder="Enter the Student ID">
        <button type="submit" id="search-button">Search</button>

      <!--Empty div used to dynamically hold the list of weeks-->
    <div class="dropdown">
      <h1>Completed Tests</h1>
        <button id="dropbtn" class="empty" id="week">Week Recording &#9660;</button>
      <div id="WkRecording" class="dropdown-content">
      </div>
    </div>

    <div id = "res"></div>

    <div id="feedback-box" style="display: none;"> <!--Display has to be none initially-->
        <textarea id="feedback-input" placeholder="Enter your feedback here"></textarea>
        <button id="submit-feedback">Submit</button>
    </div>
  </div>

  <script>
    // global variables
    const submitButton = document.getElementById("search-button");
    const WkRecording = document.getElementById("WkRecording");
    const feedback_box = document.getElementById("feedback-box");
    const textarea_box = document.getElementById("feedback-input");
    const submitFeedbackButton = document.getElementById("submit-feedback");
    const resultsContainer = document.getElementById("res");
    const searchbar = document.getElementById("search-bar");
    const dropdownButton = document.getElementById("dropbtn");

    let resetResultsList = () => {
      dropdownButton.classList.add("empty");
      resultsContainer.innerHTML = "";
      feedback_box.style.display = "none";
    }
    
    searchbar.onkeyup = function(event) {
      if (event.keyCode === 13){
        event.preventDefault();
        submitButton.click();
      }
    }

    // on click, search for user
    submitButton.onclick = () => {
      let textvalue = searchbar.value;
      if (textvalue != ""){
        resetResultsList();
        GettingUser(textvalue);
        searchbar.value = "";
        dropdownButton.classList.remove("empty");
      }
    }

    // searching for user, dynamically creates list if user exists
    function GettingUser(userID){
      const xml = new XMLHttpRequest();
      WkRecording.innerHTML = "";
      xml.open('POST',"/get-user",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status == 200){
            let weeks = JSON.parse(xml.responseText).tests;
            for (let value of weeks){
              let new_element = document.createElement('a');
              new_element.innerHTML = value;
              new_element.onclick = function () {
                gettingAudioClips(userID, value); 
              };
              WkRecording.appendChild(new_element);
            }
          }
          else{
            alert("User does not exist");
            resetResultsList();
          }
        }
      }
      xml.send(JSON.stringify({ "userID": userID }));
    }

    // Gets audio clips after admin clicks a specific week
    function gettingAudioClips(userID,week){
      const xml = new XMLHttpRequest();
      xml.open('POST',"/get-audio",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState === 4){
          if(xml.status === 200) {

            // get json data from request
            let json_data = JSON.parse(xml.responseText);
            let list_of_scores = json_data.list_of_scores;

            resetResultsList();

            let audio_path = `/static/audio/users/${userID}/${week}`;
            let image_path = `/static/images/users/${userID}/${week}`;
            console.log(list_of_scores);

            const arr_length = list_of_scores.length
            for (let idx = 0; idx < arr_length; idx++){
              let taskContainer = document.createElement("div");
              taskContainer.classList.add("task-container");
              
              //Adds task number header
              let taskContainerLabel = document.createElement("h1");
              taskContainerLabel.textContent = `Task ${idx+1}`;
              taskContainer.appendChild(taskContainerLabel);

              //This will hold all 3 audio clips and images
              let innerTaskContainer = document.createElement("div");
              innerTaskContainer.classList.add("inner-task-container");

              for (let inner_idx = 0; inner_idx < 3; inner_idx++){
                let actual_idx = inner_idx+1;

                let audioContainer = document.createElement("div");
                audioContainer.classList.add("audio-container");

                let name_of_clip = list_of_scores[idx][0];
                
                let aud_clip = document.createElement("audio");
                aud_clip.controls = true;
                aud_clip.type = "audio/wav";
                aud_clip.src = `${audio_path}/${name_of_clip}-${actual_idx}.wav`;
                
                let img = document.createElement("img");
                img.src = `${image_path}/${name_of_clip}-${actual_idx}.png`;
                img.width = "400";
                img.height = "160";

                audioContainer.appendChild(img);
                audioContainer.appendChild(aud_clip);
                if (actual_idx === list_of_scores[idx][3]){
                  audioContainer.style.background = "linear-gradient(106deg, rgba(152, 207, 152, 1) 0%, rgba(250, 250, 250, 1) 100%)";

                  // Handle Scores
                  let scoreContainer = document.createElement("div");
                  scoreContainer.classList.add("score-container");

                  let userScoreContainer = document.createElement("div");
                  userScoreContainer.classList.add("user-score-container");

                  let userScoreLabel = document.createElement("label");
                  userScoreLabel.textContent = "Self-Assessment Score: ";

                  let userScoreValue = document.createElement("span");
                  userScoreValue.textContent = list_of_scores[idx][1];

                  userScoreContainer.appendChild(userScoreLabel);
                  userScoreContainer.appendChild(userScoreValue);

                  let systemScoreContainer = document.createElement("div");
                  systemScoreContainer.classList.add("sys-score-container");

                  let systemScoreLabel = document.createElement("label");
                  systemScoreLabel.textContent = "System Score: ";

                  let systemScoreValue = document.createElement("span");
                  systemScoreValue.textContent = list_of_scores[idx][2];

                  systemScoreContainer.appendChild(systemScoreLabel);
                  systemScoreContainer.appendChild(systemScoreValue);

                  scoreContainer.appendChild(userScoreContainer);
                  scoreContainer.appendChild(systemScoreContainer);
                  audioContainer.appendChild(scoreContainer);
                }
                innerTaskContainer.appendChild(audioContainer);
              }

              taskContainer.appendChild(innerTaskContainer);
              resultsContainer.appendChild(taskContainer);
            }

            dropdownButton.classList.remove("empty");

            feedback_box.style.display= "block";
            textarea_box.dataset.week = week;
            textarea_box.dataset.user = userID;

            gettingFeedback(userID,week,function(response){
              textarea_box.value = response;
            });
          } else {
            console.log("error");
          }
        }
      }
      xml.send(JSON.stringify({ "userID": userID, "test_name":week}));
    }

    // sending feedback to get saved
    function sendingFeedback(){
      let feedback = textarea_box.value;
      textarea_box.value = "";

      const xml = new XMLHttpRequest();
      xml.open('POST',"/save-feedback",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            alert(`Feedback for user:${textarea_box.dataset.user} was saved!`);
          }else{
            alert("Feedback was not saved");
          }
        }
      }
      xml.send(JSON.stringify({"txt":feedback,"week":textarea_box.dataset.week,"user":textarea_box.dataset.user}))
      
    }

    submitFeedbackButton.onclick = function(){
      sendingFeedback();
    }
    // getting feedback from the DB
    function gettingFeedback(user,week,callback){
      const xml = new XMLHttpRequest();
      const url = `/get-feedback?user=${user}&week=${week}`;
      xml.open('GET', url, true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            callback(xml.responseText);
          }else{
            console.log('err');
            callback("");
          }
        }
      }
      xml.send();
    }
  </script>
{% endblock %}