{% extends "base.html" %}

{% block content %}

<div class="admin-home">
  <h1>Welcome Admin Team</h1>
  <h2>Please review instructions below to view student scores.</h2>
</div>
<details class="instructions-resultsContainer" open>
  <summary class="instructions-header"><h1>Instructions</h1></summary>
  <div class="instructions-content">
    <p>This page allows admin users to view student scores and provide feedback on their weekly tests.</p>

    <h3>Step One</h3>
    <p>Enter the student ID into the search bar and select "Search" or hit Enter.</p>
    <h3>Step Two</h3>
    <p>After searching for a student, use the "Week Recording" dropdown to select a test to view.</p>
    <h3>Step Three</h3>
    <p>Review the student's scores and provide feedback in the text box below.</p>
    <h3>Step Four (Optional)</h3>
    <p>Generate plots of the students scores using the dropdown menus below.</p>
    <p>Plots can be adjusted to view varying difficulty levels and either individual or cohort scores.</p>
    <h3>Step Five (Optional)</h3>
    <p>Click the provided button to export the data.</p>
    
  </div>
</details>

    <h1>Student Search</h1>
        <input type="text" id="search-bar" placeholder="Enter the Student ID">
        <button type="submit" id="search-button">Search</button>

      <!--Empty div used to dynamically hold the list of weeks-->
    <div class="dropdown">
      <h1>Completed Tests</h1>
        <button id="dropbtn" class="empty" id="week">Week Recording &#9660;</button>
      <div id="WkRecording" class="dropdown-content">
      </div>
    </div>

    <div class="content">
      <form id="export-to-excel">
          <input type="hidden" name="user" id="student-id-input" value="">
          <input type="hidden" name="test" id="week-input" value="">
            <input type="submit" id="export" value="Export to Excel"></input>
      </form>

    <div id = "res">

    </div>
    <br>
        <div id="feedback-box"> 
          <h1>Feedback</h1><!--Display has to be none initially-->
          <textarea id="feedback-input" placeholder="Enter your feedback here"></textarea>
          <button id="submit-feedback">Submit</button>
        </div>
    </div>
    <div class="analytics">
      <h1>Analytics</h1>
      <p>Display the weekly self-assessed, and computed scores of individual students and cohort.</p>
      <p>Select the difficulty and granularity options from the dropdown menus to customize the plot.</p>
      <div class="analytics-content">
        <label for="selectOption">Select Views:</label>
        Difficulty
        <select id="difficulty">
          <option value="all">All</option>
          <option value="easy">Easy</option>
          <option value="medium">Medium</option>
          <option value="hard">Hard</option>
          <!-- Add more student options as needed -->
        </select>
        Granularity
        <select id="cohort-option">
          <option value="all">All Students</option>
          <option value="student">Searched Student</option>
          <!-- Add more student through js? -->
        </select>
      </div>
      <button id="plot-graph" onclick="plotScores()">Plot</button>
    </div>
    <br>

    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
      <br>
      <br>

  </div>

  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
  </script>

    <div id = "res"></div>

    <div id="feedback-box" style="display: none;"> <!--Display has to be none initially-->
        <textarea id="feedback-input" placeholder="Enter your feedback here"></textarea>
        <button id="submit-feedback">Submit</button>
    </div>
  </div>

  <script>
    // global variables
    const submitButton = document.getElementById("search-button");
    const difficulty = document.getElementById("difficulty");
    const cohort_option = document.getElementById("cohort-option");
    const Plot_Graph = document.getElementById("cohort-option");
    const WkRecording = document.getElementById("WkRecording");
    const feedback_box = document.getElementById("feedback-box");
    const textarea_box = document.getElementById("feedback-input");
    const submitFeedbackButton = document.getElementById("submit-feedback");
    const resultsContainer = document.getElementById("res");
    const searchbar = document.getElementById("search-bar");
    const dropdownButton = document.getElementById("dropbtn");
    const exportForm = document.getElementById("export-to-excel");

    let resetResultsList = () => {
      dropdownButton.classList.add("empty");
      dropdownButton.style.display = "flex";
      resultsContainer.innerHTML = "";
      feedback_box.style.display = "none";
    }
    
    searchbar.onkeyup = function(event) {
      if (event.keyCode === 13){
        event.preventDefault();
        submitButton.click();
      }
    }

    let weekNumbers = []

    let userScores = {userID: null, sysScores: [], selfScores: []} // avg user sys scores
    let cohortScores = {sysScores: [], selfScores: []} // avg cohort sys scores

    let graph_values = [];
    let student_values = [];
    let week_values = [];

    const myChart = new Chart("myChart", {
      type: 'line',
      data: {},
      options: {
        yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Score (%)'
            },
            display: true,
            ticks: {
                suggestedMin: 0,
                suggestedMax: 100,
                // OR //
                beginAtZero: true   // minimum value will be 0.
            },
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Week'
            }
          }],
        title: {
          display: true,
          text: "Self-Assessed and Computed Scores of Students by Week",
        },}
    });

    function setGraph(data, title) {
      const xValues = ["1", "2", "3", "4", "5", "6", "7", "8", "10", "11", "12"];
      myChart.data = data
      myChart.options = {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Score (%)'
            },
            display: true,
            ticks: {
                suggestedMin: 0,
                suggestedMax: 100,    // minimum will be 0, unless there is a lower value.
                // OR //
                beginAtZero: true   // minimum value will be 0.
            },
          }],
          xAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Week'
            }
          }]
        },
        title: {
          display: true,
          text: title,
        },
      };
      myChart.update()
    }

    // on click, search for user
    submitButton.onclick = () => {
      let textvalue = searchbar.value;
      if (textvalue != ""){
        resetResultsList();
        GettingUser(textvalue);
        GetUserMarks(textvalue);
        searchbar.value = "";
        dropdownButton.classList.remove("empty");
      }
    }

    function plotScores() {
      let title = "Missing Title"
      const data = {
        labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        datasets: [
          {
              label: 'System Average Scores',
              data: [],
              backgroundColor: "rgba(210,50,210,0.3)",
          },
          {
              label: 'User Average Scores',
              data: [],
              backgroundColor: "rgba(210,0,0,0.3)"
          }
        ]
      };

      let dataset = []

      if (cohort_option.value == 'all') {
        dataset = cohortScores
        title = "Average Scores by Week"
      }
      else if (cohort_option.value == 'student') {
        dataset = userScores
        title = "Student " + dataset.userID + "'s Scores"
      }

      switch(difficulty.value) {
        case 'easy':
        data.datasets[1].data = dataset.selfScores.easy
        data.datasets[0].data = dataset.sysScores.easy
        break
        case 'medium':
        data.datasets[1].data = dataset.selfScores.medium
        data.datasets[0].data = dataset.sysScores.medium
        break
        case 'hard':
        data.datasets[1].data = dataset.selfScores.hard
        data.datasets[0].data = dataset.sysScores.hard
        break
        default:
        data.datasets[1].data = dataset.selfScores.all
        data.datasets[0].data = dataset.sysScores.all
      }

      setGraph(data, title)
    }

    // searching for user, dynamically creates list if user exists
    function GettingUser(userID){
        document.getElementById("student-id-input").value = userID;

      const xml = new XMLHttpRequest();
      WkRecording.innerHTML = "";
      xml.open('POST',"/get-user",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status == 200){
            let weeks = JSON.parse(xml.responseText).tests;
            for (let value of weeks){
              let new_element = document.createElement('a');

              new_element.innerHTML = value;
              new_element.onclick = function () {
                document.getElementById("week-input").value = value;
                gettingAudioClips(userID, value);
              };
              new_element.onclick =  function () {
                document.getElementById("week-input").value = value;
                gettingAudioClips(userID, value);
              };
              WkRecording.appendChild(new_element);
            }
          }
          else{
            alert("User does not exist or has not taken any tests");
            resetResultsList();
          }
        }
      }
      xml.send(JSON.stringify({ "userID": userID }));
    }

    function GetUserMarks(userID){
      const xml = new XMLHttpRequest();
      WkRecording.innerHTML = "";
      xml.open('POST',"/get-user-marks",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            let values = JSON.parse(xml.responseText);
            graph_values = values
            extractChartData(values, userID);
          }
          else{
            // no need to alert -- will be done by the other function if the xml fails
            // alert("User does not exist or has not taken any tests");
          }
        }
      }
      xml.send(JSON.stringify({ "userID": userID }));
    }

    function populateTaskContainer(taskContainer, taskNumber) {
      taskContainer.classList.add("task-container");

      let taskContainerLabel = document.createElement("h1");
      taskContainerLabel.textContent = `Task ${taskNumber}`;
      taskContainer.appendChild(taskContainerLabel);

      let innerTaskContainer = document.createElement("div");
      innerTaskContainer.classList.add("inner-task-container");
      taskContainer.appendChild(innerTaskContainer);
    }

    function populateTaskContainer(taskContainer, taskNumber) {
      taskContainer.classList.add("task-container");

      let taskContainerLabel = document.createElement("h1");
      taskContainerLabel.textContent = `Task ${taskNumber}`;
      taskContainer.appendChild(taskContainerLabel);

      let innerTaskContainer = document.createElement("div");
      innerTaskContainer.classList.add("inner-task-container");
      taskContainer.appendChild(innerTaskContainer);
    }

    function GetCohortMarks(){
      const xml = new XMLHttpRequest();
      WkRecording.innerHTML = "";
      xml.open('POST',"/get-test-marks",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            let values = JSON.parse(xml.responseText);
            graph_values = values
            extractCohortTestData(values);
          }
          else{
            alert("Cannot grab average test marks -- either tests do not exist or error communicating with the server. Please try again.");
          }
        }
      }
      xml.send();
    }
    
    try {
      GetCohortMarks()    // grab cohort test marks on page open
    } catch (error) {
      console.log(error)
    }
    
    // Gets audio clips after admin clicks a specific week
    function gettingAudioClips(userID,week){
      const xml = new XMLHttpRequest();
      xml.open('POST',"/get-audio",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState === 4){
          if(xml.status === 200) {

            // get json data from request
            let json_data = JSON.parse(xml.responseText);
            let list_of_scores = json_data.list_of_scores;

            resetResultsList();

            let audio_path = `/static/audio/users/${userID}/${week}`;
            let image_path = `/static/images/users/${userID}/${week}`;
            console.log(list_of_scores);

            const arr_length = list_of_scores.length;
            for (let idx = 0; idx < arr_length; idx++){
              let taskContainer = document.createElement("div");
              taskContainer.classList.add("task-container");

              //Adds task number header
              let taskContainerLabel = document.createElement("h1");
              taskContainerLabel.textContent = `Task ${idx+1}`;
              taskContainer.appendChild(taskContainerLabel);

              //This will hold all 3 audio clips and images
              let innerTaskContainer = document.createElement("div");
              innerTaskContainer.classList.add("inner-task-container");

              for (let inner_idx = 0; inner_idx < 3; inner_idx++){
                let actual_idx = inner_idx+1;

                let audioContainer = document.createElement("div");
                audioContainer.classList.add("audio-container");

                let name_of_clip = list_of_scores[idx][0];

                let aud_clip = document.createElement("audio");
                aud_clip.controls = true;
                aud_clip.type = "audio/wav";
                aud_clip.src = `${audio_path}/${name_of_clip}-${actual_idx}.wav`;

                let img = document.createElement("img");
                img.src = `${image_path}/${name_of_clip}-${actual_idx}.png`;
                img.width = "400";
                img.height = "160";

                audioContainer.appendChild(img);
                audioContainer.appendChild(aud_clip);
                if (actual_idx === list_of_scores[idx][3]){
                  audioContainer.style.background = "linear-gradient(106deg, rgba(152, 207, 152, 1) 0%, rgba(250, 250, 250, 1) 100%)";

                  // Handle Scores
                  let scoreContainer = document.createElement("div");
                  scoreContainer.classList.add("score-container");

                  let userScoreContainer = document.createElement("div");
                  userScoreContainer.classList.add("user-score-container");

                  let userScoreLabel = document.createElement("label");
                  userScoreLabel.textContent = "Self-Assessment Score: ";

                  let userScoreValue = document.createElement("span");
                  userScoreValue.textContent = list_of_scores[idx][1];

                  userScoreContainer.appendChild(userScoreLabel);
                  userScoreContainer.appendChild(userScoreValue);

                  let systemScoreContainer = document.createElement("div");
                  systemScoreContainer.classList.add("sys-score-container");

                  let systemScoreLabel = document.createElement("label");
                  systemScoreLabel.textContent = "System Score: ";

                  let systemScoreValue = document.createElement("span");
                  systemScoreValue.textContent = list_of_scores[idx][2];

                  systemScoreContainer.appendChild(systemScoreLabel);
                  systemScoreContainer.appendChild(systemScoreValue);

                  scoreContainer.appendChild(userScoreContainer);
                  scoreContainer.appendChild(systemScoreContainer);
                  audioContainer.appendChild(scoreContainer);
                }
                innerTaskContainer.appendChild(audioContainer);
              }

              taskContainer.appendChild(innerTaskContainer);
              resultsContainer.appendChild(taskContainer);
            }

            dropdownButton.classList.remove("empty");

            feedback_box.style.display= "flex";
            textarea_box.dataset.week = week;
            textarea_box.dataset.user = userID;

            gettingFeedback(userID,week,function(response){
              textarea_box.value = response;
            });
          } else {
            console.log("error");
          }
        }
      }
      xml.send(JSON.stringify({ "userID": userID, "test_name":week}));
    }

    // sending feedback to get saved
    function sendingFeedback(){
      let feedback = textarea_box.value;
      textarea_box.value = "";

      const xml = new XMLHttpRequest();
      xml.open('POST',"/save-feedback",true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            alert(`Feedback for user:${textarea_box.dataset.user} was saved!`);
          }else{
            alert("Feedback was not saved");
          }
        }
      }
      xml.send(JSON.stringify({"txt":feedback,"week":textarea_box.dataset.week,"user":textarea_box.dataset.user}));
      
    }

    submitFeedbackButton.onclick = function(){
      sendingFeedback();
    }

    // getting feedback from the DB
    function gettingFeedback(user,week,callback){
      const xml = new XMLHttpRequest();
      const url = `/get-feedback?user=${user}&week=${week}`;
      xml.open('GET', url, true);
      xml.setRequestHeader("Content-Type", "application/json");
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            callback(xml.responseText);
          }else{
            console.log('err');
            callback("");
          }
        }
      }
      xml.send();
    }

    function extractChartData(data, userID) {
      userScores.sysScores = {all: [], easy: [], medium: [], hard: []};
      userScores.selfScores = {all: [], easy: [], medium: [], hard: []};
      userScores.userID = userID;
      maxWeek = 0
      for (let weekNumber = 1; weekNumber <= 12; weekNumber++) {
        const weekData = data[weekNumber];
        
        if (weekData) {
          userScores.sysScores.all.push(weekData.sys_avg_score.all);
          userScores.selfScores.all.push(weekData.user_avg_score.all);
          if (typeof weekData.sys_avg_score.low === 'number') {
            userScores.sysScores.easy.push({y: weekData.sys_avg_score.low, x: weekNumber});
            userScores.selfScores.easy.push({y: weekData.user_avg_score.low, x: weekNumber}); 
          }
          if (typeof weekData.sys_avg_score.medium === 'number') {
            userScores.sysScores.medium.push({y: weekData.sys_avg_score.medium, x: weekNumber});
            userScores.selfScores.medium.push({y: weekData.user_avg_score.medium, x: weekNumber}); 
          }
          if (typeof weekData.sys_avg_score.high === 'number') {
            userScores.sysScores.hard.push({y: weekData.sys_avg_score.high, x: weekNumber});
            userScores.selfScores.hard.push({y: weekData.user_avg_score.high, x: weekNumber}); 
          }
          maxWeek = weekNumber;
        } else {
          // Assign 0 for weeks with no scores
          userScores.sysScores.all.push(0);
          userScores.selfScores.all.push(0);
        }
      }
      if (maxWeek < userScores.sysScores.all.length - 1) {
        userScores.sysScores.all.splice(maxWeek);
        userScores.selfScores.all.splice(maxWeek);
      }
    }

    function extractCohortTestData(data) {
      cohortScores.sysScores = {all: [], easy: [], medium: [], hard: []};
      cohortScores.selfScores = {all: [], easy: [], medium: [], hard: []};
      maxWeek = 0
      for (let weekNumber = 1; weekNumber <= 12; weekNumber++) {
        const weekData = data[weekNumber];
        
        if (weekData) {
          cohortScores.sysScores.all.push(weekData.sys_avg_score.all);
          cohortScores.selfScores.all.push(weekData.user_avg_score.all);
          if (typeof weekData.sys_avg_score.low === 'number') {
            cohortScores.sysScores.easy.push({y: weekData.sys_avg_score.low, x: weekNumber});
            cohortScores.selfScores.easy.push({y: weekData.user_avg_score.low, x: weekNumber}); 
          }
          if (typeof weekData.sys_avg_score.medium === 'number') {
            cohortScores.sysScores.medium.push({y: weekData.sys_avg_score.medium, x: weekNumber});
            cohortScores.selfScores.medium.push({y: weekData.user_avg_score.medium, x: weekNumber}); 
          }
          if (typeof weekData.sys_avg_score.high === 'number') {
            cohortScores.sysScores.hard.push({y: weekData.sys_avg_score.high, x: weekNumber});
            cohortScores.selfScores.hard.push({y: weekData.user_avg_score.high, x: weekNumber}); 
          }
          maxWeek = weekNumber;
        } else {
          // Assign 0 for weeks with no scores
          cohortScores.sysScores.all.push(0);
          cohortScores.selfScores.all.push(0);
        }
      }
      if (maxWeek < cohortScores.sysScores.all.length - 1) {
        cohortScores.sysScores.all.splice(maxWeek);
        cohortScores.selfScores.all.splice(maxWeek);
      }
    }

    exportForm.onsubmit = function(event) {
      event.preventDefault();
      const user = event.target.user.value;
      const test = event.target.test.value;

      const formData = new FormData();
      formData.append("user", user);
      formData.append("test", test);

      const xml = new XMLHttpRequest();
      xml.open('POST',"/export",true);
      xml.responseType = "blob";
      xml.onreadystatechange = function(){
        if(xml.readyState == 4){
          if(xml.status==200){
            saveBlob(xml.response, `${user}-${test}.xlsx`);
          }else{
            alert("Download failed");
          }
        }
      }
      xml.send(formData);
      
    }

    function saveBlob(blob, fileName) {
      var a = document.createElement('a');
      a.href = window.URL.createObjectURL(blob);
      a.download = fileName;
      a.dispatchEvent(new MouseEvent('click'));
  }

  </script>
{% endblock %}