{% extends "base.html" %}
{% block content %}
  <div class="login-container">
        <h1>Teaching Team</h1>
        <form action="{{ url_for('adminLogin') }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}{{ form.username(size=48) }}
            </p>
            {% if form.username.errors %}
                <ul class="errors">
                    {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                {{ form.passwd.label }}{{ form.passwd(size=32)}}
            </p>
            <p>
                {{ form.submit }}
            </p>
        </form>
    </div>
{% endblock %}
