{% extends "base.html" %}

{% block content %}


<div class="intro-container">
  <h1>Student Grades</h1>
</div>


<div class="grades-container">
    <table>
        <tr>
            <th>Test Name</th>
            <th>Task Number</th>
            <th>Audio File</th>
            <th>Self Assessment Score</th>
            <th>Audio Similarity Score</th>
        </tr>
        <tr>
            <td>Test 1</td>
            <td>Task 1</td>
            <td><a href="audio1.mp3" download>Download Audio</a></td>
            <td>85</td>
            <td>92</td>
        </tr>
        <tr>
            <td>Test 1</td>
            <td>Task 2</td>
            <td><a href="audio2.mp3" download>Download Audio</a></td>
            <td>78</td>
            <td>85</td>
        </tr>
        
    </table>
</div>
{% endblock %}