{% extends "base.html" %}
{% block content %}

  <div class="content">
    <h1 class="flex">Welcome Student,&nbsp;<span id="user">{{user}}</span>!</h1>
    <div class="intro">
      <p>Here you can find all the tests you have been assigned.</p>
      <p>Unassessed tests are due 1 week from the date they are issued.</p>
      <p>Assessed tests can be reviewed from the drop down below.</p>
    </div>
    <h2>Unassessed Tests</h2>
    <label for="Assessed Test">Unassessed Tests</label> 
    <select name="UnTEST" id="UnTest"> 
        <option value="Test1">Test1</option> 
        <option value="Test2">Test2</option> 
        <option value="Test3">Test3</option> 
        <option value="Test4">Test4</option> 
    </select>
    <a href = "{{url_for('test' ,username=username, data='week1')}}">test 1</a>
    <h2>Assessed Tests</h2>
    <label for="Assessed Test">Assessed Tests</label> 
    <select name="TEST" id="Test"> 
        <option value="Test1">Test1</option> 
        <option value="Test2">Test2</option> 
        <option value="Test3">Test3</option> 
        <option value="Test4">Test4</option> 
    </select>
  </div>

{% endblock %}
