<!DOCTYPE html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Login</title>
  <link rel="stylesheet" href="../static/loginPage.css">
</head>

<body>
  <div class="login-container">
    <h1>Sign in to Italian Voice</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
      <p>
          {{ form.id.label }}<br>{{ form.id(size=9) }}
      </p>

      <p>
          {{ form.passwd.label }}<br>{{ form.passwd(size=32)}}
      </p>
      <p>
          {{ form.submit }}
      </p>
        <p>
            {{ form.register }}
        </p>
  </div>
  </form>
  </div>
</body>
</html>
