<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginPage.css')}}">
    <style>
        .errors {
            color: red;
        }

        .disabled-button {
            background-color: gray; /* Change this to your desired color */
            color: white; /* Change this to your desired text color */
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h1>Account Registration</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.id.label }}<br>{{ form.id(size=9) }}
            </p>
            {% if form.id.errors %}
                <ul class="errors">
                    {% for error in form.id.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                {{ form.v_code.label }}<br>{{ form.v_code(size=6) }}
            </p>
            {% if form.v_code.errors %}
                <ul class="errors">
                    {% for error in form.v_code.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p>
                {{ form.send_verification }}
            </p>

            <p>
                {{ form.passwd1.label }}<br>{{ form.passwd1(size=32) }}
            </p>
            <p>
                {{ form.passwd2.label }}<br>{{ form.passwd2(size=32) }}
            </p>

            <p>
                {{ form.submit }}
            </p>
        </form>
    </div>
</body>

</html>
