<div style="width: 100%; height: 100%; position: relative; background: #CDE2B8">
  <div style="width: 1440px; height: 64px; left: 0px; top: 0px; position: absolute; background: #333333">
      <div style="width: 145px; height: 41px; padding-top: 6px; padding-bottom: 5px; padding-left: 38px; padding-right: 37px; left: 22px; top: 9px; position: absolute; background: white; border-radius: 20px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Home</div>
      </div>
      <div style="width: 145px; height: 41px; padding-top: 6px; padding-bottom: 5px; padding-left: 30px; padding-right: 29px; left: 210px; top: 10px; position: absolute; background: white; border-radius: 20px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Grades</div>
      </div>
      <div style="width: 145px; height: 41px; padding-top: 6px; padding-bottom: 5px; padding-left: 28px; padding-right: 27px; left: 1269px; top: 9px; position: absolute; background: white; border-radius: 20px; overflow: hidden; justify-content: center; align-items: center; display: inline-flex">
          <div style="text-align: center; color: black; font-size: 25px; font-family: Inter; font-weight: 400; word-wrap: break-word">Log out</div>
      </div>
  </div>
  <div style="width: 334px; height: 69px; left: 159px; top: 211px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Test Selection</div>
  <div style="width: 293px; height: 69px; left: 168px; top: 428px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Test Start</div>
  <div style="width: 310px; height: 69px; left: 175px; top: 631px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Self Evaluation</div>
  <div style="width: 310px; height: 69px; left: 159px; top: 840px; position: absolute; text-align: center; color: black; font-size: 40px; font-family: Inter; font-weight: 400; word-wrap: break-word">Results & Submission</div>
  <div style="width: 44px; height: 964px; left: 60px; top: 64px; position: absolute; background: black"></div>
  <div style="padding-top: 17px; padding-bottom: 16px; padding-left: 10px; padding-right: 244px; left: 794px; top: 201px; position: absolute; background: white; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">↓ Unassessed Tests</div>
  </div>
  <div style="width: 549px; height: 61px; padding-top: 12px; padding-bottom: 13px; left: 793px; top: 280px; position: absolute; background: #FF3225; justify-content: center; align-items: flex-start; gap: 280px; display: inline-flex">
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Test 3</div>
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Due 3/08/23</div>
  </div>
  <div style="width: 549px; height: 61px; padding-top: 12px; padding-bottom: 13px; padding-right: 1px; left: 793px; top: 351px; position: absolute; background: #EFB92F; justify-content: center; align-items: flex-start; gap: 281px; display: inline-flex">
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Test 4</div>
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Due 7/08/23</div>
  </div>
  <div style="width: 560px; height: 61px; padding-top: 12px; padding-bottom: 13px; padding-left: 2px; padding-right: 474px; left: 781px; top: 759px; position: absolute; background: #60FC52; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Test 1</div>
  </div>
  <div style="width: 560px; height: 61px; padding-top: 12px; padding-bottom: 13px; padding-right: 472px; left: 783px; top: 830px; position: absolute; background: #60FC52; justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="text-align: center; color: black; font-size: 30px; font-family: Inter; font-weight: 400; word-wrap: break-word">Test 2</div>
  </div>
  <div style="width: 97px; height: 92px; left: 33px; top: 200px; position: absolute; background: #5ECA55"></div>
</div>