{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>New Audio</h1>
    <button class="save-button">Save</button>
  </div>
  <div class="content">
    <h1 id="user">Hello {{user}}</h1>
    <h1 id="week">This is {{week}} Test</h1>
  </div>
  {% for clip in audio_clips%}
  <div class="segment"style="border: 2px solid black"> <!--this is where you can put the css file, so each "question is its own div"-->
    <audio class = "supplied_clip" id="{{clip}}" controls=true src="{{ url_for('static', filename='audio/' + week + '/' + clip + '.wav') }}"></audio>
    <img src="{{ url_for('static', filename='images/' + week + '/' + clip + '.png') }}" width="500" height="200"> <!--right now the img is way too big, will need to discuss appropriate sizing when generating img, also off centred-->
    <button class="record">Start Recording</button> <!-- perhaps add a microphone img-->
    <button class="submit">Submit</button> <!-- perhaps add a img-->
    <p class = "count">3</p>
  </div>
  {% endfor %}
  
  <script>
    // const saveButton = document.querySelector('.save-button');

    // saveButton.addEventListener('click', function() {
    //   const pageTitle = document.title;
    //   const pageContent = document.querySelector('.content').innerHTML;
      
    //   // Store data in local storage
    //   localStorage.setItem('pageTitle', pageTitle);
    //   localStorage.setItem('pageContent', pageContent);

    //   alert('Page information saved.');
    // });

    const recordButtons = document.querySelectorAll('button.record');
    const listOfDivs = document.querySelectorAll('div.segment');
    const submitButtons = document.querySelectorAll('button.submit');
    const submissionAttempts = document.querySelectorAll('p.count');
    const timeoutseconds = 3000; //adding a timeout as previously discussed (5000 = 5 seconds)
    const userID = document.getElementById("user").innerHTML.replace('Hello ','');
    const weekID = document.getElementById("week").innerHTML.replace('This is ','').replace(' Test','');

    let blobList = [];
    let mediaRecorders = [];
    let recordedChunksList = [];


    recordButtons.forEach((recordButton,index) => {
      recordButton.onclick = () => {
        listOfDivs[index].style.background = "red";
        navigator.mediaDevices.getUserMedia({audio:true}).then((stream) => {

          mediaRecorders[index] = new MediaRecorder(stream);
          recordedChunksList[index] = [];

          mediaRecorders[index].start();

          mediaRecorders[index].ondataavailable = (e) => {
            recordedChunksList[index].push(e.data);
          }
          
          mediaRecorders[index].onstop = () => {
            const blob = new Blob(recordedChunksList[index], {type: "audio/wav"});
            blobList[index] = blob;
            recordedChunksList[index] = [];
            
            const audioURL = URL.createObjectURL(blob);

            const existingAudioPlayer = document.getElementById("audioplayer" + index);

            if (existingAudioPlayer){
              existingAudioPlayer.src = audioURL;

            }else{
              var audioPlayer = document.createElement("audio");
              audioPlayer.controls = true;
              audioPlayer.id = "audioplayer" + index;
              audioPlayer.src = audioURL;
              listOfDivs[index].appendChild(audioPlayer);
            }

          }

        }).catch((err)=>{
          console.log(err);
          alert("problem");
        });

        setTimeout(() => {
          listOfDivs[index].style.background="none";
          mediaRecorders[index].stop();
        },timeoutseconds);

      }
    })

    submitButtons.forEach((submitButton,index) => {
      submitButton.onclick = () =>{
        var blob = blobList[index];
        var count = submissionAttempts[index];
        if (blob && count.innerHTML != 0){
          const audioplayer = listOfDivs[index].querySelector('.supplied_clip');

          let name_of_clip = audioplayer.id;

          const formData = new FormData();
          formData.append('blob',blob);
          formData.append('user', userID);
          formData.append('week', weekID);
          formData.append('name', name_of_clip);
          formData.append('attempt', count.innerHTML);

          
          let json = JSON.stringify(
            {
              "user":userID,
              "name":name_of_clip,
              "week":weekID,
              "attempt":count.innerHTML
            }
          )

          count.innerHTML--;
          var xmlhttp = new XMLHttpRequest();
          xmlhttp.open("POST", "save-audio",true);
          xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4) {
                    if (xmlhttp.status == 200) {
                        xmlhttpImage = new XMLHttpRequest();
                        xmlhttpImage.open("POST","send-image",true);
                        xmlhttpImage.setRequestHeader('Content-Type','application/json');
                        xmlhttpImage.send(json)

                        xmlhttpImage.onreadystatechange = function() {
                          if(xmlhttpImage.readyState==4){
                            if(xmlhttpImage.status==200){
                              name_of_clip = name_of_clip.replaceAll(' ','_');
                              let filename = 'static/images/users/' + userID + '/' + weekID + '/' + name_of_clip + '.png';
                              var img = document.getElementById("recorded_image" + index);
                              if(img){
                                img.src = filename + "?timestamp=" + new Date().getTime();
                              }else{
                                var create_image = document.createElement("img");
                                create_image.src = filename;
                                create_image.width = "500";
                                create_image.height = "200";
                                create_image.id = "recorded_image" + index;
                                listOfDivs[index].appendChild(create_image);
                              }
                            }
                            else{
                              console.log("error");
                            }
                          }
                        }

                    } else {
                        // Request failed
                        console.error("Request failed with status: " + xmlhttp.status);
                    }
                }
            };
          xmlhttp.send(formData);
          
        }

      }

    })
  </script>
{% endblock %}