{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h1>New Audio</h1>
    <button class="save-button">Save</button>
  </div>
  {% for clip in audio_clips%}
  <div> <!--this is where you can put the css file, so each "question is its own div"-->
    <audio controls=true src="{{ url_for('static', filename='audio/' + week + '/' + clip + '.wav') }}"></audio>
    <img src="{{ url_for('static', filename='images/' + week + '/' + clip + '.png') }}">
  </div>
  {% endfor %}
  
  <script>
    const saveButton = document.querySelector('.save-button');

    saveButton.addEventListener('click', function() {
      const pageTitle = document.title;
      const pageContent = document.querySelector('.content').innerHTML;
      
      // Store data in local storage
      localStorage.setItem('pageTitle', pageTitle);
      localStorage.setItem('pageContent', pageContent);

      alert('Page information saved.');
    });
  </script>
{% endblock %}