{% extends "base.html" %}
{% block content %}
  <!-- <div class="content">
    <h1>New Audio</h1>
    <button class="save-button">Save</button>
  </div> -->
  <div class="test-content">
    <h1 class="flex">Welcome Student,&nbsp;<span id="user">{{user}}</span>!</h1>
    <h1 class="flex">This Is Test:&nbsp;<span id="week">{{week}}</span></h1>
  </div>

  <details class="instructions-container" open>
    <summary class="instructions-header"><h1>Instructions</h1></summary>
    <div class="instructions-content">
      <p>The aim of these tests are to assess your Italian pronounciation and fluency.</p>
      <p>For each task, you will be given an audio file to listen to. You will then record yourself repeating the phrase as close to the original audio. After three attempts you are required to choose one for submission.</p>
      <p>Once you have selected your audio, you will be asked to rate how similar you think your audio clip is to the original, on a scale of 0-10.</p>
      <p>Our audio similarity function will also provide a score to determine how close you were.</p>
      <p>Your audio file, self-assessment score and computed score will be submitted for review by the teaching team.</p>
      <p>Once reviewed, you will be able to view your results in the Grades tab.</p>
      <p>Good luck!</p>

      <h3>Step One</h3>
      <p>Press play to listen to the provided audio clip.</p>
      <h3>Step Two</h3>
      <p>Press the record button to record your own audio clip.</p>
      <h3>Step Three</h3>
      <p>You have three attempts for each task, use the playback features to assess how close you are to the original audio and select one to submit.</p>
      <h3>Step Four</h3>
      <p>Use the slider to rate how similar you think your audio clip is to the original. This is how well you think you did on a scale of 0-10</p>
      <p>0 being not similar at all and 10 being very similar.</p>
      <h3>Step Five</h3>
      <p>Once you are happy with your selection and have given yourself a score, press submit to complete the task.</p>
      

      
    </div>
  </details>

  {% for clip in audio_clips%}
  <details class="task-container"> <!--this is where you can put the css file, so each "question is its own div"-->
    <summary class="task-header"> <h1 class="task-number">Task {{loop.index}}</h1></summary>
    <div class="task">
      <div class="question-container">
        <img src="{{ url_for('static', filename='images/' + week + '/' + clip + '.png') }}" width="400" height="160"> <!--right now the img is way too big, will need to discuss appropriate sizing when generating img, also off centred-->
        <audio class = "supplied_clip" id="{{clip}}" controls controlslist="nofullscreen nodownload noremoteplayback noplaybackrate foobar" src="{{ url_for('static', filename='audio/' + week + '/' + clip + '.wav') }}"></audio>
      </div>
      <div class="response-container">

        <button class="record">Start Recording</button> <!-- perhaps add a microphone img-->
        <div class="count-container">
          <p class = "count-text">Attempts:&nbsp;</p>
          <p class = "count">3</p>
        </div>
        <div class="recordings">
          <div class="recording attempt-3">
            <h3 class="task-header">Attempt 1</h3>
            <input type="radio" class="select-attempt" data-attempt="1" name= "select-attempt-{{loop.index}}" disabled />
          </div>
          <div class="recording attempt-2">
            <h3 class="task-header">Attempt 2</h3>
            <input type="radio" class="select-attempt" data-attempt="2" name= "select-attempt-{{loop.index}}" disabled />
          </div>
          <div class="recording attempt-1">
            <h3 class="task-header">Attempt 3</h3>
            <input type="radio" class="select-attempt" data-attempt="3" name= "select-attempt-{{loop.index}}" disabled />
          </div>
        </div>
      </div>

      <div class="assessment-container">
        <div class="test-scores">
          <div class="self-assessment-scores">
            <h3>Self Assessment</h3>
            <label for="score-{{loop.index}}">Similarity Score:</label>
            <input type="range" min="0" max="100" value="50" class="slider self-assessment-range" name="score-{{loop.index}}">
            <p>Value: <span class="self-assessment-value"></span></p>
          </div>
          <div class="computed-scores">
            <h3>Similarity Function</h3>
            <p>Score: <span class="computed-score-value">Computed on Submit</span></p>
          </div>
        </div>

        <button class="submit">Submit</button> <!-- perhaps add a img-->
      </div>
    </div>
  </details>
  {% endfor %}

  <script>
    const recordButtons = document.querySelectorAll('button.record');
    const listOfDivs = document.querySelectorAll('details.task-container');
    const submitButtons = document.querySelectorAll('button.submit');
    const scoreContainers = document.querySelectorAll('.test-scores');
    const submissionAttempts = document.querySelectorAll('p.count');
    const timeoutseconds = 5000; // Failsafe in case the user forgets to stop recording
    const userID = document.getElementById("user").innerHTML;
    const weekID = document.getElementById("week").innerHTML;

    let blobList = [];
    let mediaRecorders = [];
    let recordedChunksList = [];
    let newRecording = [];
    let RECORDING = 0;
    let timeout;

    let startRecordingListener = (recordButton, index) => () => {
      let countContainer = listOfDivs[index].querySelector(".count");
      let count = Number(countContainer.innerHTML);

      if (count <= 0) return; 

      if (RECORDING == 0) {
        RECORDING = 1;
        recordButton.classList.add("flashing");
        recordButton.innerHTML = "Recording... Click to Stop";
        
        navigator.mediaDevices.getUserMedia({audio:true}).then((stream) => {
          
          //initalise the recordedChunk to contain an empty list
          recordedChunksList[index] = [];
          
          // make new media recorder and push data to recordedchunk
          mediaRecorders[index] = new MediaRecorder(stream);
          mediaRecorders[index].ondataavailable = (e) => {
            recordedChunksList[index].push(e.data);
          }

          mediaRecorders[index].start();
          recordButton.onclick = stopRecordingListener(recordButton, index);

          mediaRecorders[index].onstop = () => {
            // make a blob and add to list
            const blob = new Blob(recordedChunksList[index], {type: "audio/wav"});
            blobList[index] = blob;
            // clear the recordedchunk
            recordedChunksList[index] = [];
            
            //indicate that new audio clip has been made
            newRecording[index] = 1;
            
            let currentRecordingContainer = listOfDivs[index].querySelector(`.recordings .attempt-${count}`);

            //decrease count
            countContainer.innerHTML = count - 1;

            var audioPlayer = document.createElement("audio");
            audioPlayer.controls = true;
            audioPlayer.id = "audioplayer" + index + count;
            audioPlayer.src = URL.createObjectURL(blob);

            let radioSelector = currentRecordingContainer.querySelector(".select-attempt");
            currentRecordingContainer.insertBefore(audioPlayer, radioSelector);
            radioSelector.removeAttribute("disabled");
            
            let name_of_clip = listOfDivs[index].querySelector('.supplied_clip').id;

            save_audio(blob, name_of_clip, 4 - count, userID, weekID, function () {
              var img = document.createElement("img");
              img.src = `/static/images/users/${userID}/${weekID}/${name_of_clip}-${4 - count}.png`;
              img.width = "400";
              img.height = "160";
              currentRecordingContainer.insertBefore(img, audioPlayer);
            });

            // This is an old pointer whose value has decremented to 0, so disable the button
            if (count === 1) {
              recordButton.classList.add("disabled");
              recordButton.innerHTML = "No More Attempts";
            }
          }
          
        }).catch((err)=>{
          console.log(err);
          alert("problem");
        });

        timeout = setTimeout(() => {
          if (RECORDING == 1) {
            stopRecordingListener(recordButton, index)();
          }
        }, timeoutseconds);
      }
    }

    let stopRecordingListener = (recordButton, index) => () => {
      let countContainer = listOfDivs[index].querySelector(".count");
      let count = Number(countContainer.innerHTML);

      recordButton.classList.remove("flashing");
      recordButton.onclick = startRecordingListener(recordButton, index);
      recordButton.innerHTML = "Start Recording";

      mediaRecorders[index].stop();

      clearTimeout(timeout);
      RECORDING = 0;
    }

    recordButtons.forEach((recordButton,index) => {
      recordButton.onclick = startRecordingListener(recordButton, index);
    });

    submitButtons.forEach((submitButton,index) => {
      submitButton.onclick = () => {
        let countContainer = listOfDivs[index].querySelector(".count");
        let count = Number(countContainer.innerHTML);
        if (count === 0){
          let selectedRadioButton = listOfDivs[index].querySelector('.select-attempt:checked');
          if (selectedRadioButton){
            let attempt = selectedRadioButton.dataset.attempt;

            let name_of_clip = listOfDivs[index].querySelector('.supplied_clip').id;

            let user_score = listOfDivs[index].querySelector('.self-assessment-value').innerHTML;
            console.log(attempt);
            console.log(name_of_clip);
            console.log(user_score);

            const formData = new FormData();

            formData.append('user',userID);
            formData.append('test_name', weekID);
            formData.append('attempt',attempt);
            formData.append('name',name_of_clip);
            formData.append('user_score',user_score);
            var xmlhttp = new XMLHttpRequest();

            xmlhttp.open('POST','/calculate-score',true);
            xmlhttp.onreadystatechange = function () {
              if (xmlhttp.readyState == 4) {
                if (xmlhttp.status == 200) {
                  let score = listOfDivs[index].querySelector(".computed-score-value");
                  let task_number = listOfDivs[index]. querySelector("h1.task-number").innerHTML;
                  score.innerHTML = xmlhttp.responseText;
                  console.log(xmlhttp.responseText);
                  alert("Your score for " + task_number + " has been loaded");
                }
              }
            }

            xmlhttp.send(formData);
            submitButton.disabled = true;
            submitButton.classList.add("disabled")
            listOfDivs[index].style.background = "linear-gradient(106deg, rgba(152, 207, 152, 1) 0%, rgba(250, 250, 250, 1) 100%)";
            alert("Please wait while your score is being computed. You may proceed to complete the other tasks while it is being computed.")
          }
          else{
            alert("Pick an attempt.");
          }
        }
        else{
          alert("Do all submissions first.");
        }

        }

    });

    scoreContainers.forEach((scoreContainer,index) => {
      const selfAssessmentRange = scoreContainer.querySelector('.self-assessment-range');
      const selfAssessmentValue = scoreContainer.querySelector('.self-assessment-value');
      selfAssessmentValue.innerHTML = selfAssessmentRange.value;

      selfAssessmentRange.oninput = () => {
        selfAssessmentValue.innerHTML = selfAssessmentRange.value;
      }
    });


    function save_audio(blob, name_of_clip, attempt, user, test_name, callback){
      const formData = new FormData();
          formData.append('blob',blob);
          formData.append('user', user);
          formData.append('test_name', test_name);
          formData.append('name', name_of_clip);
          formData.append('attempt', attempt);

      var xmlhttp = new XMLHttpRequest();
      xmlhttp.open("POST", "/save-audio",true);
      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4) {
          if (xmlhttp.status == 200) {
            console.log("success");
            if (callback && typeof callback === 'function') {
              callback();
            }
          } else {
            // Request failed
              console.error("Request failed with status: " + xmlhttp.status);
            }
        }
      };
      xmlhttp.send(formData);
    }


  </script>
{% endblock %}