<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='loginPage.css')}}">
    <style>
        .errors {
            color: #a12323;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>A verification code has been sent to your associated student email, please check and enter.</h1>
        <form action="{{url_for('verify')}}" method="post">
            <p>{{ form.v_code.label }}<br>{{ form.v_code }}</p>
            {% if form.v_code.errors %}
                <ul class="errors">
                    {% for error in form.v_code.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>{{ form.send_verification }}</p>
        </form>
    </div>
</body>
</html>